@import '../root/_theme.scss';

.reading-comprehension-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.reading-comprehension-test-content {
    display: flex;
    flex-direction: column;
    width: 97vw;
    padding: 50px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 1024px) {
    .reading-comprehension-test-content {
        display: flex;
        flex-direction: column;
        width: 97vw;
        padding: 20px;
        margin-bottom: 25px;
    } 
}

.reading-comprehension-test-reading {
    text-align: left;
    line-height: 1.5;
    // This is very important, it wraps characters and fits them to your container, even spaces.
    white-space: break-spaces;
}

.reading-comprehension-test-content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 20px;
}

.reading-comprehension-test-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.reading-comprehension-test-card {
    padding-top: 30px !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
    margin-top: 20px !important;
    width: 100%;
}

.reading-comprehension-test-card h2 {
    font-size: 23px;
}

.reading-comprehension-test-question-text {
    font-size: 18px;
}