.instructor-schedule-details {
    position: absolute;
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    animation: scale 200ms ease-in-out forwards;
}

.instructor-schedule-details h1 {
    font-size: 20px;
    color: #3174ad;
    padding-bottom: 20px;
}

.instructor-schedule-details h4 {
    font-size: 17px;
    padding-bottom: 17px
}

.instructor-schedule-create-button {
    z-index: 1000;
    position: fixed !important;
    bottom: 0px !important;
    right: 15px !important;
}
