.test-taker-schedule-details {
    position: absolute;
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    animation: scale 200ms ease-in-out forwards;
}

.test-taker-schedule-details h1 {
    font-size: 20px;
    color: #3174ad;
    padding-bottom: 20px;
}

.test-taker-schedule-details h4 {
    font-size: 17px;
    padding-bottom: 17px
}