@import '../root/_theme.scss';

.dashboard-header-container {
    display: flex;
    width: 100%;
    background: lighten($background-color, 2%);
    justify-content: space-between;
    align-items: center;
}

.dashboard-welcome-container {
    display: flex;
    align-items: flex-end;
}

.dashboard-welcome-date {
    margin-left: 10px !important;
}

.dashboard-activities {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
}

.dashboard-roles-selectable {
    width: 150px;
    margin-right: 20px !important;
}

.dashboard-actions {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 10px;
}

.upcoming-demographic-questionnaire {
    width: 600px;
    height: 600px;
    overflow-y: scroll;
}

.upcoming-demographic-questionnaire-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.administrator-dashboard-users {
    flex: 2 
}

.administrator-dashboard-logged-in-users {
    flex: 1
}

.administrator-dashboard-logged-in-user-card-container {
    width: 90%;
    margin: 10px;
    display: inline-block;
}

.administrator-dashboard-logged-in-user-card-title {
    font-size: 14px;
}

.administrator-dashboard-logged-in-user-card-pos {
    margin-bottom: 12px !important;
}

.administrator-dashboard-logged-in-user-card-selected {
    border: 0.1px solid $primary
}

.test-developer-dashboard-grid-filter {
    width: 400px;
}
