@import '../root/_theme.scss';

.dashboard-header-container {
    display: flex;
    width: 100%;
    background: lighten($background-color, 2%);
    justify-content: space-between;
    align-items: center;
}

.dashboard-welcome-container {
    display: flex;
    align-items: flex-end;
}

.dashboard-welcome-date {
    margin-left: 10px !important;
}

.dashboard-activities {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
}

.dashboard-roles-selectable {
    width: 150px;
    margin-right: 20px !important;
}

.dashboard-actions {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 10px;
}
