@import "../root/_theme.scss";

.instructor-student-classes-container {
    height: 500px;
    width: 420px;
    overflow-y: scroll;
}

.instructor-student-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 100%;
    overflow: auto;
}

.instructor-student-classes-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.instructor-student-classes-center {
    justify-content: center;
}

.instructor-students {
    width: 70%;
    min-width: 500px;
}

.instructor-students-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.instructor-student-class-card-container {
    width: 90%;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.instructor-student-class-card-title {
    font-size: 14px;
}

.instructor-student-class-card-pos {
    margin-bottom: 12px !important;
}

.instructor-student-class-card-selected {
    border: 0.1px solid $primary
}
