.instructor-student-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 100%;
    overflow: auto;
}

.instructor-student-classes-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.instructor-student-classes-center {
    justify-content: center;
}