@import '../root/_theme.scss';

.authorization-expansion-panel {
    background-color: lighten($secondary-background-color, 5.3%) !important;
}

.authorizations {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    width: 100% !important;
    padding-left: 30px;
}
